
    <h1> Jacob Schumann</h1>
	
			
				<section class="hero">
					<h2> <span class="highlight"></span></h2> 
					<ul>
						<li> 3 cup holders </li>
						<li>Superman doors</li>
						<li>Fuzzy dice!</li>
					</ul>
					<a class="button" href="#">Own Today</a>
					<img src="/images/delorean.jpg" alt="DeLorean" class="hero-image">
				</section>
				<section class="DeLorean Upgrades">
					<h2>DeLorean Upgrades</h2>
					<div class="upgrades">
						<figure>
						<img src="/images/flux-cap.png" alt="Flux Capacitor"> 
						<figcaption>Flux Capacitor</figcaption>	
						</figure>
						<figure>
						<img src="/images/flame.jpg" alt="Flame Decals"> 
						<figcaption>Flame Decals</figcaption>	
						</figure>
						<figure>
						<img src="public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"> 
						<figcaption>Bumper Stickers</figcaption>	
						</figure>
						<figure>
						<img src="/images/hub-cap.jpg" alt="Hub Caps"> 
						<figcaption>Hub Caps</figcaption>	
						</figure>
					</div>
				</section>
					
				