
    <h1> Welcome to CSE Motors</h1>
	
			<section class="hero">
					<img src="/images/vehicles/delorean.jpg" alt="DeLorean" class="hero-image">
					<div class="hero-text">
					<h3>DMC Delorean</h3>
					<ul>
						<li> 3 cup holders </li>
						<li>Superman doors</li>
						<li>Fuzzy dice!</li>
					</ul>
					<button class="button-blue" value="Own Today"></a>
					</div>	
			</section>
			<div class="content">
    			<section id="reviews">
        			<h2>DMC Delorean Reviews</h2>
        			<ul class="open">
            			<li>"So fast it's almost like traveling in time." (4/5)</li>
            			<li>"Coolest ride on the road." (4/5)</li>
            			<li>"I'm feeling McFly!" (5/5)</li>
            			<li>"The most futuristic ride of our day." (4.5/5)</li>
            			<li>"80's livin and I love it." (5/5)</li>
        			</ul>
				</section>
				<section class="DeLorean Upgrades">
					<h2>DeLorean Upgrades</h2>
					<div class="upgrades">
						<figure>
						<img src="/images/flux-cap.png" alt="Flux Capacitor"> 
						<figcaption>Flux Capacitor</figcaption>	
						</figure>
						<figure>
						<img src="/images/flame.jpg" alt="Flame Decals"> 
						<figcaption>Flame Decals</figcaption>	
						</figure>
						<figure>
						<img src="public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"> 
						<figcaption>Bumper Stickers</figcaption>	
						</figure>
						<figure>
						<img src="/images/hub-cap.jpg" alt="Hub Caps"> 
						<figcaption>Hub Caps</figcaption>	
						</figure>
					</div>
				</section>
					
				